body {
background-color: #6685a3;
color: #e8edf1;
font-family: arial, helvetica, sans-serif;

padding: 1em 10em;


}
.graph{
 margin-bottom:10%;
 margin-top:10%
}

.table{
 margin-bottom:2%;
 margin-top:1%
}

table, td, th {
    border: 1px solid black;}